<h4>Liste des utilisateurs :</h4><hr/>
<div class="well table-responsive table-striped table-hover table-condensed">
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
                <tr ng-repeat="(key, user) in users | filter:!name:'Admin':!_id:LS.user._id">
                    <td>{{user.name}}{{user._id}}</td>
                    <td>{{user.email}}</td>
                    <td class="form-group">
                        <select ng-change="setAdmin.setRole(user._id, user.role)" class="form-control" ng-model="user.role">
                            <option value="admin">Admin</option>
                            <option value="contributor">Contributeur</option>
                            <option value="user">Utilisateur</option>
                        </select>
                    </td>
                </tr>
        </tbody>
    </table>
</div>