<h4>Vidéos soumises à approbation :</h4><hr/>
<div class="form-group">
    <button type="button" class="btn btn-default" ng-click="statusDisplayed = 0">En attente d'approbations <span class="badge">{{(submissions | filter:{status:0}).length}}</span></button>
    <button type="button" class="btn btn-default" ng-click="statusDisplayed = 1">Approuvées <span class="badge">{{(submissions | filter:{status:1}).length}}</span></button>
    <button type="button" class="btn btn-default" ng-click="statusDisplayed = 2">Refusées <span class="badge">{{(submissions | filter:{status:2}).length}}</span></button>
    <button type="button" class="btn btn-default" ng-click="statusDisplayed = 3">A ajouter via Youtube <span class="badge">{{(submissions | filter:{status:3}).length}}</span></button>
</div>
<div class="well table-responsive table-striped table-hover table-condensed">
    <table class="table">
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>Playlist</th>
                <th>Lien</th>
                <th>Titre</th>
                <th>Durée</th>
                <th>Embed</th>
                <th>Thumbnail</th>
                <th>Validation</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, submission) in submissions | filter:{status:statusDisplayed}">
                <td>{{submission.type}}</td>
                <td><input class="form-control" type="text" ng-model="submission.playlist"/></td>
                <td><a ng-href="{{submission.link}}" target="_BLANK">{{submission.link}}</a></td>
                <td><input class="form-control" type="text" ng-model="submission.title"/></td>
                <td><input class="form-control" type="text" ng-model="submission.duration"/></td>
                <td><input class="form-control" type="text" ng-model="submission.embed"/></td>
                <td><input class="form-control" type="text" ng-model="submission.thumbnail"/></td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="submitedVideos.updateStatus(submissions.indexOf(submission), 1)" ng-show="submission.status != 1"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-default" ng-click="submitedVideos.updateStatus(submissions.indexOf(submission), 0)" ng-show="submission.status != 0"><span class="glyphicon glyphicon-arrow-left"></span></button>
                    <button type="button" class="btn btn-danger" ng-click="submitedVideos.updateStatus(submissions.indexOf(submission), 2)" ng-show="submission.status != 2"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>