<div class="col-sm-4" style="text-align:justify">
    <h4>En donnant du temps</h4>
    <p>Vous fouinez tous les documentaires ou vous suivez les luttes sociales sur YouTube ? Vous êtes un média d'une ville en lutte ? Vous avez une grande culture de cinéma engagé ? Aidez-nous et devenez contributeur avec votre propre compte YouTube, ou simplement ou nous fournissant du contenu (liens de vidéos youtube, nom de film, etc ...).</p>
    <p>Nous contacter pour plus d'informations : <a href="mailto:enlutte.tube@gmail.com">enlutte.tube@gmail.com</a></p>
    <p><a ng-href="#/add/video" class="btn btn-default">Ajouter une vidéo</a></p>
</div>
<div class="col-sm-4" style="text-align:justify">
    <h4>Grâce à vos compétences</h4>
    <p>Vous êtes Graphiste / WebDesigner / Developpeur Angular / Node JS ? Ça nous intéresse ! Contactez nous par email : <a href="mailto:enlutte.tube@gmail.com">enlutte.tube@gmail.com</a></p>
    <p>LutteTube est un projet Open-Source utilisant <a href="https://github.com/evrardt/yt_playlist_player" target="_BLANK">GitHub</a></p>
    <p>Un simple fork vous permettra de modifier vos fichiers et de soumettre une évolution (graphique, fonctionnalité, améliorations, correction de bug, ...), mais aussi de publier les erreurs rencontrés afin que les développeurs puissent y remédier.</p>
</div>
<div class="col-sm-4" style="text-align:justify">
    <h4>Financièrement</h4>
    <p>Parce-que l'hébergement d'un site web et la reservation d'un nom de domaine à un coût, LutteTube vous propose de contribuer aux finances grâce à l'envoi d'argent sur <a href="https://paypal.me/enluttetube" target="_BLANK">notre compte paypal</a>.</p>
    <p>Actuellement LutteTube est hébergé chez <a target="_BLANK" href="https://www.ovh.com">OVH</a> sur un VPS ce qui permet à l'application de tourner sans restriction.</p>
    <p>Suivant le nombre d'utilisateurs simultanés cela peut ne pas être suffisant.</p>
</div>