<div class="row">
  <div class="jumbotron">
    <h1>On lache rien !</h1>
    <p>LutteTube c'est quoi ? Un référenceur de vidéos concernant la lutte contre le système capitaliste ! Un endroit où vous trouverez à la fois des documentaires sur notre monde, des témoignages de luttes sociales et bien plus encore ...</p>  
  </div>
</div>
<div class="ngmap" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
  <ng-map center="46.2830792,2.041452"  zoom="5" max-zoom="8" min-zoom="2">
    <span ng-repeat="channel in channels">
      <marker icon="{{marker}}" ng-show="p.location" ng-repeat="p in channel.place" position="{{p.location.lat}},{{p.location.lng}}" id={{p.city}} title="{{p.city}}" on-click="main.goToPlace(channel.name)"></marker>
    </span>
  </ng-map>
</div>
<div class="row bordered" ng-repeat="channel in channels">
  <h4 class="well well-sm">
    {{channel.title}}
    <select class="form-control inline more" ng-model="channel.display">
      <option value="category">Dernières catégories</option>
      <option value="date">Dernières ajoutées</option>
    </select>
    <button class="btn btn-default more" ng-click="main.go('/playlists/'+channel.name)">Voir plus</button>
  </h4>
  <div class="col-md-3 thumbBlock animate" ng-repeat="item in channel.playlistCategories | limitTo:4" ng-show="channel.display === 'category'">
    <a ng-href="#/playlists/{{channel.name}}" ng-click="channel.typeFilter = item.type; channel.placeFilter = ''" class="thumb">
      <img ng-src="{{item.thumbnail}}">
      <div>
          <div class="typeIndex">{{item.type}}</div>
      </div>
    </a>
  </div>
  <div class="col-md-3 thumbBlock animate" ng-repeat="item in channel.playlists" ng-show="channel.display === 'date'">
    <a ng-href="#/playlist/{{channel.name}}/{{item._id}}" ng-click="channel.placeFilter = ''" class="thumb">
      <img ng-src="{{item.thumbnail}}">
      <div>
          <div ng-if="item.date" class="date">
            <div class="month" ng-class="{monthly:item.monthly}">{{item.date | date:'MMM'}}</div>
            <div ng-if="!item.monthly" class="day">{{item.date | date:'d'}}</div>
          </div>
          <div ng-class="{rightLabel:item.date}">
            <div ng-if="item.date">
              <div class="typeDated">{{item.type}}</div>
            </div>
            <div ng-if="!item.date" ng-class="{docType: channel.name === 'doc', type: true, notDated: (item.monthly != false && item.monthly != true)}">{{item.type}}</div>
            <div ng-if="item.place" ng-class="{docPlace: channel.name === 'doc', place: channel.name !== 'doc', notDated: (item.monthly != false && item.monthly != true)}">{{item.place}}</div>
          </div>
      </div>
    </a>
  </div>
</div>